<!-- Header / Top Bar area? -->
<div> <!-- encapsulating div, just in case -->
  <div class="row justify-content-center m-2">
    <div class="col-4">
      <h2>Swiddador Incremental Game!</h2>
    </div>
  </div>

  <!-- content area, maybe side bar? Multiple Side bars? Not sure yet -->
  <div class="row h-100 justify-content-center">
    <div class="col-3 m-2 p-2 border border-secondary">
      Side bar area?<br>
      -Item 1<br>
      -Item 2<br>
      -Item 3<br>
    </div>
    <div class="col-8 m-2 p-2 border border-primary">
      <h3>Main Content Area</h3><br>
      Can display progress bars <br>
      Or maybe little sprites if we get creative<br>
      Or just a bunch of "stuff"
    </div>
  </div>
</div>
<router-outlet></router-outlet>