<!-- Header / Top Bar area? -->
<div> <!-- encapsulating div, just in case -->
  <div class="row justify-content-center m-2">
    <div class="col-4">
      <h2>Swiddador Incremental Game!</h2>
    </div>
  </div>
  <app-progress-bar [currentValue]="currentValue" [neededValue]="neededValue"></app-progress-bar>

  <!-- content area, maybe side bar? Multiple Side bars? Not sure yet -->
  <div class="row h-100 justify-content-center">
    <div class="col-3 m-2 p-2 border border-secondary">
      <ul class="list-group">
        <li *ngFor="let producer of producers" class="list-group-item">
          <div class="justify-content-start">
            {{producer.name}}: {{producer.currentQuantity}}
          </div>

          <div>
            <button
              class="btn btn-primary purchase-btn"
              [class.disabled]="currentValue < producer.nextCost"
              [disabled]="currentValue < producer.nextCost"
              (click)="purchaseProducer(producer.name)"
            >
              {{ producer.nextCost }}
            </button>
          </div>

        </li>
      </ul> 
    </div>
    <div class="col-8 m-2 p-2 border border-primary">
      <b>Current $: {{(currentValue | number : '1.2-2')}}</b>
    </div>
  </div>
</div>
<router-outlet></router-outlet>